.NavigationBar {
  background-color: #225590;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
}

.NavigationBarItem {
  margin: 10px 2px 10px;
  padding: 8px 15px 8px;
  vertical-align: middle;
}

.NavigationBarItem:hover {
  background-color: #1c4370;
  border-radius: 15px;
}

.NavigationBarLink {
  color: white;
  font-weight: bold;
}

.NavigationBarLink:hover {
  text-decoration: none;
  color: white;
}

.LinkText {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
