.NavigationBar {
  background-color: #225590;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
  padding-bottom: 3px;
  padding-top: 3px;
}

.NavigationBarItem {
  margin: auto 2px auto;
  padding: 1px 15px 1px;
}

.NavigationBarItem:hover {
  background-color: #1c4370;
  border-radius: 15px;
}

.NavigationBarLink {
  padding: 0px;
}

.NavigationBarLink {
  color: white;
  font-weight: bold;
}

.NavigationBarLink:hover {
  text-decoration: none;
  color: white;
}

.LinkText {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 0;
}

.Logo {
 padding-top: 0px;
 padding-bottom: 0px;
}
