.navbar {
  background-color: #225590;
  border-radius: 0px 0px 15px 15px;
  height: 100%;
  padding-bottom: 3px;
  padding-top: 3px;
}

.nav-item {
  margin: auto 2px auto;
  padding: 1px 10px 1px;
}

.nav-item:hover {
  background-color: #1c4370;
  border-radius: 15px;
}

.NavigationBarLink {
  font-weight: bold;
}

.NavigationBarLink:hover {
  text-decoration: none;
}

.LinkText {
  color: white;
  font-weight: bold;
  margin: 0px;
  display: inline;
  vertical-align: middle;
}

.Logo {
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
